/* src/App.css */
.App {
  text-align: center;
  padding: 20px;
  max-width: 100%;
  margin: 0 auto;
  height: 100%;
  overflow-y: auto;
  background-color: #121212;
}

/* src/components/MovieList.css */
.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media (max-width: 768px) {
  .movie-list {
    justify-content: center;
  }
}

/* src/components/MovieCard.css */
.movie-card {
  width: 20%;
  margin: 10px;
  border: 1px solid #1b1818;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #1c1b1b;
  color: #f9f9f9;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.movie-card img {
  width: 100%;
  height: auto;
}
.movie-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.movie-info {
  padding: 10px;
  text-align: left;
  font-family: sans-serif;
}

@media (max-width: 768px) {
  .movie-card {
    width: 100%;
  }
}

/* src/components/GenreFilter.css */
.genre-filter {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.genre-button {
  margin: 5px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #f9f9f9;
  background-color: #000000;
  cursor: pointer;
}

.genre-button.selected {
  background-color: #e91717;
  color: white;
}

/* src/components/SearchBar.css */
.search-bar {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.search-bar input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  flex: 1;
  min-width: 200px;
}

.search-bar button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #e91717;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.search-bar button:hover {
  background-color: #e91717;
}

@media (max-width: 768px) {
  .search-bar {
    flex-direction: column;
    align-items: stretch;
  }

  .search-bar button {
    margin-left: 0;
    margin-top: 10px;
    border-radius: 5px;
  }
}

/* Loader.css */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  position: relative;
  width: 200px;
  height: 200px;
  animation: spin 4s linear infinite;
}

.loader span {
  position: absolute;
  width: 20px;
  height: 20px;
  transform-origin: 90px 90px;
  font-size: 2rem;
  font-weight: bold;
  color: #e91717;
}

.loader span:nth-child(1) {
  transform: rotate(0deg) translate(90px);
}
.loader span:nth-child(2) {
  transform: rotate(40deg) translate(90px);
}
.loader span:nth-child(3) {
  transform: rotate(80deg) translate(90px);
}
.loader span:nth-child(4) {
  transform: rotate(120deg) translate(90px);
}
.loader span:nth-child(5) {
  transform: rotate(160deg) translate(90px);
}
.loader span:nth-child(6) {
  transform: rotate(200deg) translate(90px);
}
.loader span:nth-child(7) {
  transform: rotate(240deg) translate(90px);
}
.loader span:nth-child(8) {
  transform: rotate(280deg) translate(90px);
}
.loader span:nth-child(9) {
  transform: rotate(320deg) translate(90px);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*Logo*/

.App h1 {
  font-family: Impact, Charcoal, sans-serif;
  font-size: 50px;
  letter-spacing: -0.6px;
  word-spacing: 0px;
  text-align: left;
  color: #e91717;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
}

.year {
  font-family: Impact, Charcoal, sans-serif;
  font-size: 40px;
  letter-spacing: -0.6px;
  word-spacing: 0px;
  text-shadow: 0 0 3px #ffffff, 0 0 5px #ffffff;
  color: #292222;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
}
