/* src/App.css */
.App {
  text-align: center;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;
  overflow-y: auto;
}

/* src/components/MovieList.css */
.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media (max-width: 768px) {
  .movie-list {
    justify-content: center;
  }
}

/* src/components/MovieCard.css */
.movie-card {
  width: 200px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.movie-card img {
  width: 100%;
  height: auto;
}

.movie-info {
  padding: 10px;
  text-align: left;
  font-family: sans-serif;
}

@media (max-width: 768px) {
  .movie-card {
    width: 100%;
  }
}

/* src/components/GenreFilter.css */
.genre-filter {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.genre-button {
  margin: 5px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ccc;
  cursor: pointer;
}

.genre-button.selected {
  background-color: #007bff;
  color: white;
}

/* src/components/SearchBar.css */
.search-bar {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.search-bar input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  flex: 1;
  min-width: 200px;
}

.search-bar button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.search-bar button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .search-bar {
    flex-direction: column;
    align-items: stretch;
  }

  .search-bar button {
    margin-left: 0;
    margin-top: 10px;
    border-radius: 5px;
  }
}
